#s-02296a63-c032-484a-af3d-b1af293881bc #s-raised_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 25px;
  width: 45px;
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_2 {
  stroke-width: 2px;
  stroke: #6ACCCB;
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_2 {
  stroke-width: 2px;
  stroke: #6ACCCB;
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_1 {
  stroke-width: 2px;
  stroke: #6EFECD;
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_1 {
  stroke-width: 2px;
  stroke: #6EFECD;
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_19 {
  -ms-transform: rotate(270.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02296a63-c032-484a-af3d-b1af293881bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}