#s-02296a63-c032-484a-af3d-b1af293881bc #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_19 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: -4px;
  margin-top: 4px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02296a63-c032-484a-af3d-b1af293881bc #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02296a63-c032-484a-af3d-b1af293881bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}