#s-4796dcae-327b-4a1a-adb8-74ea5efa93e4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4796dcae-327b-4a1a-adb8-74ea5efa93e4 #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4796dcae-327b-4a1a-adb8-74ea5efa93e4 #s-raised_Button_disabled_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4796dcae-327b-4a1a-adb8-74ea5efa93e4 #s-raised_Button_disabled_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4796dcae-327b-4a1a-adb8-74ea5efa93e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}