#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-raised_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 25px;
  width: 45px;
  -ms-transform: rotate(0.0deg);
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Line_2 {
  stroke-width: 2px;
  stroke: #6ACCCB;
  -ms-transform: rotate(0.0deg);
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Line_2 {
  stroke-width: 2px;
  stroke: #6ACCCB;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}