#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5124ae63-6cf6-40f6-b68b-0edd408216db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}