#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6031992f-c167-4779-a488-23677fd8e02b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6031992f-c167-4779-a488-23677fd8e02b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}