#s-85e1c230-d445-48a8-9669-9390f58c8651 > #backgroundBox {
  background-color: #2E2C39;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 > #alignmentBox {
  position: relative;
  max-width: 400px;
  max-height: 700px;
  width: 100%;
  height: 100%;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_1 {
  position: absolute;
  width: 390px;
  height: 702px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 > svg {
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 {
  position: absolute;
  width: 35px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 > svg {
  height: 46px;
  width: 35px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 {
  position: absolute;
  width: 377px;
  height: 586px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 > .paddingLayer {
  height: 586px;
  width: 377px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 span {
  color: #CCCCCC;
  text-align: right;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: right;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled {
  position: absolute;
  width: 64px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Myriad Arabic',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled > .paddingLayer {
  height: 26px;
  width: 62px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Myriad Arabic',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled span#rtr-s-raised_Button_disabled_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Myriad Arabic',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #2E2C39;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 {
  position: absolute;
  width: 202px;
  height: 702px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 > .paddingLayer {
  height: 702px;
  width: 202px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_6 {
  position: absolute;
  width: 202px;
  height: 51px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_3 {
  position: absolute;
  width: 115px;
  height: 33px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 span {
  color: #6EFECD;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #6EFECD;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 > svg {
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 {
  position: absolute;
  width: 34px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 > svg {
  height: 33px;
  width: 34px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_1 marker {
  fill: #6EFECD;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 202px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_1 {
  width: 202px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6EFECD;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 > .paddingLayer {
  height: 20px;
  width: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 {
  position: absolute;
  width: 44px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 > .paddingLayer {
  height: 13px;
  width: 44px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_6 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_6 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_6 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_3 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_3 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_3 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_4 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_4 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_4 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_2 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_2 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_2 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_7 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_7 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_7 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_8 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_8 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_8 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_1 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_1 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_1 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_9 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_9 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_9 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_10 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_10 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_10 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_11 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_11 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_11 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_5 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_5 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_5 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_2 {
  position: absolute;
  width: 189px;
  height: 114px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_4 {
  position: absolute;
  width: 189px;
  height: 24px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #2E2C39;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 {
  position: absolute;
  width: 189px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 > .paddingLayer {
  height: 24px;
  width: 189px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 > svg {
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_18 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_18 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_18 > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_19 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_19 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_19 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_20 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_20 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_20 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_5 {
  position: absolute;
  width: 28px;
  height: 27px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_2 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 27px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_2 {
  width: 27px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_3 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 27px;
  height: 2px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_3 {
  width: 27px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_4 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 12px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_4 {
  width: 12px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_5 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 12px;
  height: 2px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_5 {
  width: 12px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Group_7 {
  position: absolute;
  width: 30px;
  height: 21px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_6 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 29px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_6 {
  width: 29px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_7 marker {
  fill: #666666;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 28px;
  height: 2px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_7 {
  width: 28px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #666666;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_21 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_21 > img, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_21 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 span#rtr-s-Text_26_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 > .clipping, #s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}