#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_3 {
  rotation: 270.0;
  margin-left: 12px;
  margin-top: -13px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_5 {
  rotation: 270.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_7 {
  rotation: 315.0;
  margin-left: 3px;
  margin-top: -10px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}