#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-raised_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 26px;
  width: 62px;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_1 {
  stroke-width: 2px;
  stroke: #6EFECD;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_1 {
  stroke-width: 2px;
  stroke: #6EFECD;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_3 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(270.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_3 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(270.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_4 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_4 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_5 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(270.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_5 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(270.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_6 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_6 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_7 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(315.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Line_7 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(315.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-85e1c230-d445-48a8-9669-9390f58c8651 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}