#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9563047559630353,M12=0.29237170472273716,M21=-0.29237170472273716,M22=0.9563047559630353);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9563047559630353,M12=0.29237170472273716,M21=-0.29237170472273716,M22=0.9563047559630353);
  margin-left: -5px;
  margin-top: -5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}