#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-raised_Button_disabled {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 26px;
  width: 158px;
  -ms-transform: rotate(0.0deg);
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 #s-Image_1 {
  -ms-transform: rotate(343.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7766b86-dd43-4ad4-be86-60a87cdd7d20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}