#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}