#s-ef284dbc-19ac-415b-9011-da0df3f91474 > #backgroundBox {
  background-color: #2E2C39;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 > #alignmentBox {
  position: relative;
  max-width: 400px;
  max-height: 700px;
  width: 100%;
  height: 100%;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Group_1 {
  position: absolute;
  width: 213px;
  height: 466px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #shapewrapper-s-Line_1 marker {
  fill: #6DFD30;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 101px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Line_1 {
  width: 101px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6DFD30;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_3 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_3 > img, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_3 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_4 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_4 > img, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_4 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Group_3 {
  position: absolute;
  width: 181px;
  height: 26px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_1 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_1 > img, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_1 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_2 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_2 > img, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_2 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 span {
  color: #FECCCD;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FECCCD;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 {
  position: absolute;
  width: 212px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Myriad Pro',Arial;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 > .clipping, #s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Myriad Pro',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}