#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Line_1 {
  stroke-width: 2px;
  stroke: #6DFD30;
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Line_1 {
  stroke-width: 2px;
  stroke: #6DFD30;
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef284dbc-19ac-415b-9011-da0df3f91474 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}