#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-raised_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-raised_Button_disabled_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852351,M12=0.22495105434386534,M21=-0.22495105434386534,M22=0.9743700647852351);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852351,M12=0.22495105434386534,M21=-0.22495105434386534,M22=0.9743700647852351);
  margin-left: -4px;
  margin-top: -4px;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 #s-Image_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9612616959383189,M12=0.27563735581699894,M21=-0.27563735581699894,M22=0.9612616959383189);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9612616959383189,M12=0.27563735581699894,M21=-0.27563735581699894,M22=0.9612616959383189);
  margin-left: -5px;
  margin-top: -5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f51f2bde-f417-49de-9004-190f89816e93 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}